/* CSS declarations go here d*/


html, body, div, main {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: '100%';
}
.layouthome {
  background: url('/bilde.jpg') center/cover;
}

.demo-card-square.mdl-card.fixed-size {
}
.form-card {
  height: 100%;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('logo.svg') bottom right 47% no-repeat #46B6AC;
}

.center {
  margin: 0 auto;
  text-align: center;
}

a.dashboard-title {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

a.dashboard-title:hover 
{
  color: inherit; 
  text-decoration: underline;
  font-weight: normal;
}

.drawer {
  border: none;
}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AED581;
  font-weight: 500;
}

.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: inherit;
  margin-right: 32px;
}

.layout .navigation .mdl-navigation__link:hover {
  background-color: #AED581;
  color: #33691E;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.signup {
  height: 100vh;
  background-color: rgb(139,195,74);
  position: absolute;
  height: 100%;
  width: 100%;
}

.home {
  padding-top: 2em;
  display: block;
}

.listElement {
  margin-bottom: 10px;
  background-color: #FFFFFF;
}
.listElement:hover {
  border-bottom:5px solid #F0FFFF !important;
  background-color: #F0FFFF;
}


